#1C, #2C, #3C{
    padding-left: 10%;
}
.top{
    border: solid darkgrey;

}
#gewinn{
    width:200px;
    height:20px;
    font-size:14px;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/poker.jpg");
    color: white;
}